# # Disable directory listings (mod_autoindex)
# Options -Indexes

# # Prevent mod_dir appending trailing slash to directories
# DirectorySlash Off

# RewriteEngine On

# # Remove the trailing slash, should it appear on any 3rd party requests
# RewriteCond %{ENV:REDIRECT_STATUS} ^$
# RewriteRule (.+)/$ /$1 [R=301,L]