.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00818F;
  margin: 1vh 1vw;
  padding: 1.5vh 2vw;
}

p, span, a, h1, h2, h3, h4, h5 {
  text-decoration: none;
  text-align: center;
  font-size: medium;
  color: black;
  vertical-align: middle;
  margin: 0;
}

body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#header {
  background-color: #015958;
  width: 100%;
  padding: 5vh 0;
  margin: 0 0 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#header > a {
  left: 50%;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 90%;
}
#nav-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30vh;
  left: 3vw;
}

.account {
  display: flex;
  flex-direction: column;
}

input[type=checkbox] {
  height: 60px;
  width: 500px;
  background-color: #ff0000;
}
input[type=checkbox]:checked {
  visibility: hidden;
}

.header-title {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #023535;
  margin: 0;
}
.home > nav {
  padding: 0;
  margin: 20px 0px 0px 0px;
}

#friends-list, #sent-friend-requests, #received-friend-requests {
  width: 20vw;
  min-height: 60vh;
  background-color: #004F59;
  border: solid black 1px;
}
#friends-list > p, #sent-friend-requests > p, #received-friend-requests > p {
  display: flex;
  justify-content: center;
}

#friends-wall {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
}

.friend, .friend-sent, .friend-received {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.friend-options, .friend-sent-options, .friend-received-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 8vw;
  background-color: #004F59;
  border: solid black 1px;
  margin: 1vh 0;
  padding: 0 1vw 0 0.25vw;
}

.profil-picture {
  height: 8vh;
  width: 8vh;
  object-fit: contain;
}

#download-button {
  color: aqua;
  padding: 10px 25px;
  background-color: rgba(1, 1, 1, 0.5);
}

.create-task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 5px;
}

.create-task-form > * {
  height: 45px;
  width: 150px;
  margin: 0;
}

.task_input {
  width: 150px;
  display: flex;
}

.middle {
  background-color: red;
  width: 600px;
  display: grid;
  grid-template-columns: 8fr 2fr;
}

#insert {
  height: 45px;
}

.btn-confirm {
  background-color: white;
  height: 60px;
  width: 440px;
  border-radius: 100px;
}
.btn-confirm:hover {
  cursor: pointer;
}

#create {
  text-decoration: none;
  color: black;
  background-color: white;
  height: 60px;
  width: 500px;
  border-radius: 100px;
  text-align: center;
}

#change {
  text-decoration: none;
  color: black;
  background-color: white;
  height: 60px;
  width: 500px;
  border-radius: 100px;
  text-align: center;
}

#forget {
  text-decoration: none;
  color: black;
  background-color: white;
  height: 60px;
  width: 500px;
  border-radius: 100px;
}

#annul {
  text-decoration: none;
  color: black;
  height: 60px;
  width: 500px;
  border-radius: 100px;
  text-align: center;
}
#annul:hover {
  color: white;
}

#creation {
  background-color: white;
  height: 60px;
  width: 440px;
  border-radius: 100px;
}

.remember {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.remember:label {
  display: flex;
  cursor: pointer;
}

#description {
  width: 150px;
}

.task {
  width: 600px;
  border: 1px solid green;
  border-collapse: collapse;
}

.center_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warning:hover {
  color: rgb(111, 221, 254);
}

.suppr {
  color: red;
  text-decoration: none;
}
.suppr:hover {
  text-decoration: none;
  color: red;
}

.none {
  display: none;
}

#posts-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  background-color: #004F59;
}

.rod {
  background-color: #00818F;
  width: 95%;
  height: 0.5vh;
}

.login-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 30px;
}

.flex-items {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
}

.flex-items2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
  font-size: 40px;
  line-height: 1.5;
}

.remember {
  margin: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  color: white;
}

.topic-preview > a > img {
  width: 500%;
}

.user_frame {
  background-color: #004F59;
}/*# sourceMappingURL=style.css.map */